*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, serif;
}

body {
  background-color: #00235f;
}

.menu-area{
  top: 0;
  position: sticky;
  z-index: 99999;
  width: 100%;
}
.menu-area a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkblue ;
  background:lightgrey;
  height: 50px;
  font-family: Arial, serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

#img1{
width: 45px;
  height: 50px;
}

.menu-area a:hover {
  color: black;
}

.menu-area ul {
  list-style: none;
  display: flex;
}

.menu-area li {
  width: 100%;
  position: relative;
  text-align: center;
}
.logo img{
  width: 150px;
}

.menu-area img{
  width: 50px;
}


#li1{
  width: 50px;
}

#li1 i {
  margin-left: 10px;
}

.navbar{
  width: 5rem;
  height: 100vh;
  position: fixed;
  background: var(--bg-primary);
  transition: width 200ms ease;
}

.navbar-nav{
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items:center;
  height: 100%;
}

.nav-link{
  width: 100%;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
}

.side-nav{
  font-size:30px;
  cursor:pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightgrey;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  font-family: sans-serif;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: darkblue;
  transition: 0.3s;
  margin-top: 30px;
  font-weight: bold;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.life{
  font-size: 60px;
}

#f1{
  width: 75%;
  padding: 5px;
  color: white;
}

header{
  padding:5px;
  color: white;
  margin-top: -10px;
}


.slogan{
  font-size: 70px;
  text-align: center;
}


.item img{
  width: 100%;
}

textarea{
  width: 100%;
  height: 50%;
  border-radius: 7px;
  border: 0;
}
.search{
   text-align: center;
   padding: 20px;
   width: 75%;
   margin: auto;
   display: grid;
   grid-gap: 20px;
   background-color: lightgrey;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(1, 3fr);
}

#form{
  padding: 20px;
}

.search select{
  width: 100%;
  height: 30px;
  font-size: 20px;
  color: black;
  background-color:white;
  border-radius: 7px;
  border:1px solid lightgrey;
}

.date input{
  width: 100%;
  height: 30px;
  background-color: white;
  font-size: 19px;
  border-radius: 7px;
  border:1px solid lightgrey;
}

.checkbox{
padding: 10px;
width: 100%;
}

.checkbox input{
  height: 15px;
  width: 15px;
}

.checkbox label{
  font-size: 16px;
}

#checkbox2{
  margin-top: 10px;
}

#text1{
  font-size: 17px;
  width: 100%;
  height: 50%;
}

.btn{
  margin-left: 15px;
  width: 40%;
  height: 40px;
  cursor: pointer;
  font-size: 19px;
}

.container{
  display: flex;
  flex-direction: column;
}


.row{
  padding: 20px;
}
.row img{
  width: 100%;
}

.row a{
  color: red;
}


footer {
  background-color: lightgrey;
  text-align: center;
  height: 200px;
  color: black;
  font-size: 13px;
  padding: 5px;
  text-decoration: none;
  white-space: nowrap;
}

footer ul {
  list-style-type: none;
}

footer a {
  padding: 10px;
}

footer img {
  width: 55px;
  height: 60px;
}

.search-div-text {
  text-align: center;
  color: white;
}

.section-info {
  padding: 10px;
}

#country {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 10px;
}

#country-item-img {
  width: 50%;
}

#country-item-img img{
  width: 100%;
}

#country-item-text {
  width: 50%;
  color: white;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}


.container-md {
  width: 50%;
  margin: 0 auto;
}

.popup-content {
  text-align: center;
}

.open-popup {
  background-color: #FFD700;
  color: #0D1B2A;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  overflow: hidden
}

.open-popup:hover {
  background-color: #E5AA00; 
  color: #172A3A;
}

.popup {
  display: none;
  background-color: #172A3A;
  padding: 20px;
  border-radius: 8px;
}

.popup audio {
  width: 100%;
  margin-bottom: 20px;
}

.popup .controls {
  text-align: center;
}

.popup .controls button {
  background-color: #FFD700;
  color: #0D1B2A; 
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.popup .controls button:hover {
  background-color: #E5AA00; 
  color: #172A3A;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

.popup .controls button:active {
  box-shadow: inset 0 0 10px rgba(255, 215, 0, 0.5);
}

.stats {
  width: 75%;
  margin: 0 auto;
}

.stats div {
  width: 100%;
}

@media (max-width: 1100px) {
  .search {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-gap: 10px;
  }

  .carousel {
    margin: 0 auto;
    width: 90%;
  }

  .container{
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  #country {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    text-align: justify;
    padding: 5px;
  }

  #country-item-img {
    width: 100%;
  }

  #country-item-text {
    width: 100%;
  }

  #search-div {
    width: 100%;
  }

  .section-info {
    width: 100%;
    padding: 0;
  }

  .slogan {
    font-size: 45px;
  }

  .search-div-text h1{
    font-size: 30px;
  }

  .checkbox {
    padding: 0;
  }
}

#search-div {
  transition: all 0.5s ease;
}

.hidden {
  display: none;
}




