*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, serif;
}

body {
  background-color: #00235f;
}

.menu-area{
  top: 0;
  position: sticky;
  z-index: 99999;
  width: 100%;
}
.menu-area a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #061250 ;
  background:lightgrey;
  height: 50px;
  font-family: Arial, serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

#img1{
  width: 45px;
  height: 50px;
}

.menu-area a:hover {
  color: blue;
}

.menu-area ul {
  list-style: none;
  display: flex;
}

.menu-area li {
  width: 100%;
  position: relative;
  text-align: center;
}
.logo img{
  width: 150px;
}

.menu-area img{
  width: 50px;
}


#li1{
  width: 50px;
}

#li1 i {
  margin-left: 10px;
}

.navbar{
  width: 5rem;
  height: 100vh;
  position: fixed;
  background: var(--bg-primary);
  transition: width 200ms ease;
}

.navbar-nav{
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items:center;
  height: 100%;
}

.nav-link{
  width: 100%;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
}

.side-nav{
  font-size:30px;
  cursor:pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightgrey;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  font-family: sans-serif;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: darkblue;
  transition: 0.3s;
  margin-top: 30px;
  font-weight: bold;
}

.sidenav a:hover {
  color: blue;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.wrapper p{
  text-align: center;
  font-size: 20px;
}


.tours-list {
  width: 70%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 35px;
}

.block{
  background-color: lightgrey;
  border-radius: 10px;
  position: relative;
  height: 102%;
  margin-top: 20%;
  margin-bottom: 15%;
}

.div-img {
  border-radius: 10px;
  width: 100%;
}

.div-img img {
  width: 98%;
  height: 290px;
  margin: 1% auto;
  border-radius: 10px;
}


.div-text p{
  width: 100%;
  text-align: justify;
}

.div-text button {
  padding: 5px;
}


.block p{
  padding: 5px;
}

.block button{
  width: 40%;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  background-color: #5ADB00;
  border: 0;
  border-radius: 7px;
  left: 30%;
}

button:hover {
  background-color: green;
}

.block h3{
  padding: 5px;
  color: red;
}

.txt {
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
}

footer {
  background-color: lightgrey;
  text-align: center;
  height: 200px;
  color: black;
  font-size: 13px;
  padding: 5px;
  text-decoration: none;
  white-space: nowrap;
}

footer ul {
  list-style-type: none;
}

footer a {
  padding: 10px;
}

footer img {
  width: 55px;
  height: 60px;
}

a {
  color: inherit;
}

#footer-tours {
  margin-top: 5%;
}

@media (max-width: 768px) {
  .tours-list {
    width: 95%;
  }
  .tours-list {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .block button {
    width: 40%;
    height: 30px;
    font-size: 15px;
  }

  .div-text {
    font-size: 5px;
  }

}
